# Byte-compiled / optimized / DLL files
__pycache__
__pycache__/
__pycache__/*
.ipynb_checkpoints/
-checkpoint.ipynb
*.pyc

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# other
data/*
models/*